.main {
  position: relative;
  z-index: 1;
  flex-grow: 1;

  display: flex;

  background: #fff;

  &__scene {
    position: absolute;
    display: none;

    z-index: 0;

    @include media("tablet") {
      display: block;
    }

    &#first-scene {
      top: 144px;
      right: 65%;
    }

    &#second-scene {
      top: 32px;
      left: 67%;
    }
  }

  & > div.container {
    position: relative;
    z-index: 1;

    @include media("tablet") {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }
  }

  &__page-title {
    margin: 15px 0 23px;

    border-bottom: 2px solid #9564aa;

    @include media("mobile-sm-max") {
      margin: 20px 0;
    }

    @include media("mobile-lg") {
      margin: 20px 0 25px;
    }

    @include media("tablet") {
      margin: 20px 0 30px;

      text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    @include media("desktop") {
      font-size: 40px;
    }

    h1.page-title {
      font-size: 20px;
      font-weight: 700;
      color: #000;

      @include media("mobile-sm-max") {
        font-size: 24px;
      }

      @include media("mobile-lg") {
        font-size: 28px;
      }

      @include media("tablet") {
        font-size: 34px;

        text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
      }

      @include media("desktop") {
        font-size: 40px;
      }
    }
  }

  &__discount.discount {
    display: none;

    margin-bottom: 26px;

    @include media("mobile-lg") {
      display: flex;
    }
  }
}
